[2018-05-25 13:56] bacharakis opened #1 "Brainstorming"
P1:

<b>Main page</b>
- User can select to search issues based on language, expertise and time needed

<b>Issues view</b>
- User can select to search issues based on language, expertise and time needed
- When a user clicks on an issue he/she is forwarded to the relevant GitHub issue
- User can sort the issues by newest<>oldest, difficulty level, type, language

<b>Project view</b>
- When a user cl

[2018-05-25 15:15] bacharakis opened #2 "Landing page view"
MVP: User can select to search issues based on language, expertise and time needed

Platform: Metrics

[2018-05-25 15:15] bacharakis opened #3 "Backend improvements for supporting the design"

[2018-05-25 15:16] bacharakis opened #4 "Issues page"
- [x] User can select to search issues based on language, expertise and time needed
- [x] When a user clicks on an issue he/she is forwarded to the relevant GitHub issue
- [x] User can sort the issues by newest<>oldest, difficulty level, type, language

P2:
- [x] Issues view: color code on the side of each issue is "a nice to have"
- [x] Fetching and presenting github issues into our platform

[2018-05-25 15:18] bacharakis opened #5 "Projects page"
- [x] When a user clicks a project he/she is FWDed to a list of issues filtered for that project only
- [x] User has a list of projects he/she can contribute to

P2:
- [ ] When a user clicks a project he/she is FWDed to a project view similar to the beta experiment

[2018-06-26 11:12] bacharakis opened #6 "Push backend into production"

[2018-06-26 11:13] bacharakis opened #7 "Update backend URL into frontend"
Blocked by #6

[2018-06-26 11:13] alexdor opened #8 "v1 remaining issues"
- [x] Project filter on issues
- [ ] Twitter hook for fixmeparser
- [ ] A/B testing from netlify

[2018-09-01 13:49] bacharakis opened #9 "Projects view seems to be broken"
https://screenshots.firefox.com/63h5WIkNWJQ2rlqJ/fixme.ossn.club

[2018-09-06 21:03] #9 closed

[2018-09-26 21:33] bacharakis opened #11 "Fix the "learn more" behavior"
Current behavior:
![screenshot from 2018-09-26 16-32-13](https://user-images.githubusercontent.com/1435040/46110630-dc08d400-c1a9-11e8-8594-4c93d7652892.png)

Expected behavior: When you click learn more, in the main page, you page should scroll and put the "I do my magic in" in the middle of the page!

![screenshot from 2018-09-26 16-32-35](https://user-images.githubusercontent.com/1435040/461106

[2018-09-26 21:36] bacharakis opened #12 "Make issues sidebar scroll-able"
Currently, the filters sidebar is scrollable only when you reach the end of the issues list

Steps to reproduce:
1. Got to the issues page: https://fixme.ossn.club/issues
2. Put your pointer over the filters and scroll

Expected behavior:
The filters list is scrolling

[2018-09-26 21:39] bacharakis opened #13 "Add an HFOSS filter to the UI"
Add an HFOSS filter on the UI/filters list
![screenshot from 2018-09-26 16-36-48](https://user-images.githubusercontent.com/1435040/46110875-aca69700-c1aa-11e8-8c04-d9fe485fa407.png)

[2018-09-27 11:57] #2 closed

[2018-09-27 11:57] #8 closed

[2018-09-27 11:58] bacharakis opened #14 "Build a twitter hook"
Fetch tweets from @fixmeparser and show them in the landing page

[2018-09-27 12:00] #6 closed

[2018-09-27 12:00] #7 closed

[2018-09-27 12:00] #5 closed

[2018-09-27 12:01] #4 closed

[2018-09-27 12:01] #3 closed

[2018-09-27 12:02] #1 closed

[2018-09-27 12:14] alexdor opened #15 "Fix issue filter sidebar on mobile"
Issue filter sidebar isn't displayed properly on mobile.

[Expected outcome](https://github.com/ossn/fixme/blob/master/screens/mobile/Mozilla_Fixme_Mobile02_IssuesB.png)

[2018-09-27 12:15] alexdor opened #16 "QA website"
Go through the website and detect issues.

[2018-09-27 12:19] alexdor opened #17 "Links to cross-origin destinations are unsafe"
Add `rel="noopener"` or `rel="noreferrer"` to any external links to improve performance and prevent security vulnerabilities.

[2018-09-27 12:20] alexdor opened #18 "Document does not have a meta description"
Meta descriptions may be included in search results to concisely summarize page content. [Learn more](https://developers.google.com/web/tools/lighthouse/audits/description)

[2018-09-27 12:22] alexdor opened #19 "Links do not have a discernible name"
Link text (and alternate text for images, when used as links) that is discernible, unique, and focusable improves the navigation experience for screen reader users. [Learn more](https://dequeuniversity.com/rules/axe/2.2/link-name?application=lighthouse)

Failing Elements
[code]

[2018-09-27 12:24] alexdor opened #20 "Form elements do not have associated labels"
Labels ensure that form controls are announced properly by assistive technologies, like screen readers. [Learn more](https://dequeuniversity.com/rules/axe/2.2/label?application=lighthouse).

Failing Elements
[code]

Failing elements on the main page
[code]

[2018-09-27 12:28] alexdor opened #21 "Progressive web app improvments"
- [x] User will not be prompted to Install the Web App, because manifest.json does not have a PNG icon of at least 192px. [Learn more](https://developers.google.com/web/tools/lighthouse/audits/install-prompt)
- [x] Website is not configured for a custom splash screen, because manifest does not have a PNG icon of at least 512px. [Learn more](https://developers.google.com/web/tools/lighthouse/audits

[2018-09-27 12:30] alexdor opened #22 "Ensure text remains visible during webfont load"
Leverage the font-display CSS feature to ensure text is user-visible while webfonts are loading. [Learn more](https://developers.google.com/web/updates/2016/02/font-display)

[2018-09-27 12:31] alexdor opened #23 "Defer offscreen images"
Consider lazy-loading offscreen and hidden images after all critical resources have finished loading to lower time to interactive. [Learn more](https://developers.google.com/web/tools/lighthouse/audits/offscreen-images)

[2018-09-27 12:32] alexdor opened #24 "Eliminate render-blocking resources"
Resources are blocking the first paint of your page. Consider delivering critical JS/CSS inline and deferring all non-critical JS/styles. [Learn more](https://developers.google.com/web/tools/lighthouse/audits/blocking-resources).

[2018-09-27 12:35] alexdor opened #25 "Button does not have an accessible name"
When a button doesn't have an accessible name, screen readers announce it as "button", making it unusable for users who rely on screen readers.

Failing elements
[code]

[2018-09-27 12:37] alexdor opened #26 "Document doesn't use legible font sizes for mobile"
88.03% of text is too small.

<img width="672" alt="screen shot 2018-09-27 at 14 36 00" src="https://user-images.githubusercontent.com/8433031/46146320-be4b7580-c262-11e8-8c37-d8318cda2047.png">
<img width="656" alt="screen shot 2018-09-27 at 14 40 21" src="https://user-images.githubusercontent.com/8433031/46146551-56e1f580-c263-11e8-94ef-c55749eb112b.png">

[2018-09-27 12:42] alexdor opened #27 "Background and foreground colors do not have a sufficient contrast ratio."
Low-contrast text is difficult or impossible for many users to read. [Learn more](https://dequeuniversity.com/rules/axe/2.2/color-contrast?application=lighthouse)

Failing elements on project page:
[code]

[code]

Failing elements on main page:
[code]

[code]

[code]

[code]

[code]

Failing elements for issues page:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[

[2018-09-27 12:53] alexdor opened #28 "Search for differences between website and designs"
Design images can be found [here](https://github.com/ossn/fixme/tree/master/screens)

[2018-09-27 13:54] bacharakis opened #29 "Documentation: create the about page"
Add information into the about page

- What does the platform does.
- Why do you need the platform
- How to use the platform

[2018-09-27 15:39] yunduz commented on #11
Bug is reproducible on Firefox 62.0.
Works as expected on Chrome 69.0.3497.100.

[2018-09-27 18:18] katiehrenchir commented on #13
@alexdor Hello Alex, we are trying to add an HFOSS BooleanInput to the admin console, and then, if it is selected, we'd like to have a method execute that will add 'HFOSS' to the tags of the project. Can you help us with the syntax for executing a method if the BooleanInput is set to true?

[2018-09-27 18:33] jasmineflorencio opened #30 "Incorrect Issue Count"
When you look at the [projects](https://fixme.ossn.club/projects), some of the projects show 0 issues. For example, MediaWiki's issues aren't directly on GitHub but listed on a separate [site](https://phabricator.wikimedia.org/) instead. It looks like Fixme only uses GitHub issues to determine the issue count.

[2018-09-27 18:37] alexdor commented on #13
Hello @katiehrenchir in order to implement this functionality 2 tasks need to be completed.
For the frontend a new boolean field should be added on the src/routes/Admin/components/Projects.tsx file

For the backend, the project model needs to be updated to include a boolean field that indicates whether this project is 'HFOSS' or not (with the default value set to false). In order to achieve that a

[2018-09-27 18:39] alexdor commented on #30
@jasmineflorencio you are right, currently, fixme only uses GitHub issues. @bacharakis any thoughts?

[2018-09-27 18:42] alexdor opened #31 "Project listing is displaying empty tags"
Project listing is displaying empty tags when the project has no tags. For example it displays something like this:
<img width="52" alt="screen shot 2018-09-27 at 20 41 10" src="https://user-images.githubusercontent.com/8433031/46167301-ba851680-c295-11e8-9fc8-4c5ff99085db.png">

The expected behavior would be to not show any tag.

[2018-09-27 18:43] katiehrenchir commented on #13
Ok! We have added the BooleanInput component to the create and edit sections of src/routes/Admin/components/Projects.tsx
`      <BooleanInput label="HFOSS?" />`

and then we also just added this to the backend's Projects.go file
`	HFOSS         bool			`json:"HFOSS" db:"HFOSS"`	`

[2018-09-27 18:44] katiehrenchir commented on #13
Now we would like to have some code that adds 'HFOSS' to the tags of the Project based upon the value of the HFOSS boolean field

[2018-09-27 18:47] jasmineflorencio opened #32 "Required information not starred for adding projects"
The form to add a new project on the [project](https://fixme.ossn.club/projects) page doesn't indicate whether information is required or not. Currently users can submit complete blank forms so I'm not sure if there are certain fields that can be left blank or if all fields should be filled out.

[2018-09-27 18:49] alexdor commented on #13
you also need to add a new database migration.  You need to create a migration similar to this one migrations/20180830162007_AddTagsToRepos.up.fizz but with the column that you want. You can generate a migration file by running this command `buffalo db generate fizz add_hfoss_column_to_projects `

[2018-09-27 18:54] katiehrenchir commented on #13
We don't want to create a new column for HFOSS in the database, we just want to add or remove the HFOSS tag from the existing Tags based on the BooleanInput value... can this be accomplished with an "action" instead of a database change?

[2018-09-27 18:57] LucyeoH commented on #32
Use this form instead - https://docs.google.com/forms/d/e/1FAIpQLSeyXGN-hywy9oX-By6qf4lmhP62bz2IDSxOs9AkhzQsjBGGdQ/formResponse

[2018-09-27 18:58] alexdor commented on #13
Unfortunately, this can't be done by a simple action. The reason is that tags are parsed automatically by GitHub, if you add a tag (with the current setup) it will be overwritten when the project is fetched from GitHub.
Another approach (instead of creating a boolean field in the database) is to create a new column of type array (named AdminTags, or something similar) that would store all the extr

[2018-09-27 19:00] katiehrenchir commented on #13
How often is the project "fetched"? Is it every time the page is loaded, or only when the project object is created/edited?

[2018-09-27 19:03] alexdor commented on #13
Each project is “fetched” approximately once every 30’ from the worker
On Thu, 27 Sep 2018 at 21.01, Katie Hrenchir <notifications@github.com>
wrote:

[2018-09-27 19:10] katiehrenchir commented on #13
Alex, this is our migration
`add_column("projects", "HFOSS", "boolean", {"null": true})`

and we added this line to the admin Projects file
`      <BooleanField source="HFOSS" label="HFOSS?" />`

Christos said that the environment should automatically do the migration for us? However, the admin console's projects list now says "No results found" so something about this is wrong, I suspect the migr

[2018-09-27 19:13] alexdor commented on #13
I would suggest to change the migration to

add_column("projects", "HFOSS", "boolean", {"default": false})

In order to run the migration, stop and start the running docket instance

On Thu, 27 Sep 2018 at 21.10, Katie Hrenchir <notifications@github.com>
wrote:

[2018-09-27 19:19] yunduz commented on #18
Since there are multiple parts to the fixme app (issues, projects, about), meta description tag should be different for each one. To load different meta description tag for each route we could use [react-helmet](https://www.npmjs.com/package/react-helmet), however, the changes will take effect on the client side, thus, crawlers won't see the correct meta description. It seems that the typical solu

[2018-09-27 19:20] jasmineflorencio opened #35 "Setup displays on project page even if setup isn't specified"
Currently on the [projects](https://fixme.ossn.club/projects) page for a project, it just displays "setup" when a setup time has not been specified.
![screen shot 2018-09-27 at 12 18 58 pm](https://user-images.githubusercontent.com/23109409/46169293-88e95c80-c24f-11e8-8dbc-cc7064ea6b7a.png)

[2018-09-27 19:32] katiehrenchir commented on #13
Alex, here is the output: https://pastebin.com/1eXwtCyK

[2018-09-27 19:37] Timileyin5 commented on #28
Can you elaborate on what needs to be done here?

[2018-09-27 19:47] alexdor commented on #28
@Timileyin5 you are right, the description is a bit vague. The final website needs to be checked for inconsistencies with the original designs.

Does this make more sense?

[2018-09-27 19:48] alexdor commented on #13
@katiehrenchir could you upload the source code somewhere as well so I can try to see why is the migration not running? (You could push it to your fork of the repo)

[2018-09-27 19:50] LucyeoH commented on #29
What does this platform do?

This platform helps contributors find open source projects that are a good fit for their skills and abilities, so that they can start contributing to open source. All of these projects have been vetted to ensure that they’re active, healthy, and ready for beginner contributions.

Why do you need the platform?

Our research found that while many people are interested in

[2018-09-27 19:53] katiehrenchir commented on #13
Alex, I have pushed the changes to my fork of the backend.

[2018-09-27 20:03] alexdor commented on #13
I've left a comment with a possible issue, when you have a look and let me know if it worked : )

[2018-09-27 20:06] ailishb commented on #20
Failing form element on the main page can be addressed, but the <input type="checkbox" readonly=""> failing elements seem to be within the issue descriptions themselves.

[2018-09-27 20:07] tapasya234 opened #40 "Navigating to the Issues page in Chrome is scrolled down a little"
When you navigate to the issues page after typing a language in "I do my magic in" search bar, the scroll bar is not at the top of the page. The bug is present only in Chrome browser and I tested in Chrome, Firefox, and Edge.

[2018-09-27 20:10] alexdor commented on #20
@ailishb if that's the case you can ignore it  : )

[2018-09-27 20:20] #25 closed

[2018-09-27 20:20] #31 closed

[2018-09-27 20:26] alexdor commented on #28
A,B,C are all different states of the homepage, for example in A the "I do my magic in" part is empty, in B the user has selected a few languages and in C the user has selected a few languages and a few more options.

So you all of them are the right one : )

[2018-09-27 20:29] Timileyin5 commented on #28
okay, that makes sense. Thank you for explaining!

[2018-09-27 21:19] #24 closed

[2018-09-27 21:33] raymerta opened #41 "Adding post install script"
Hi,

I had difficulty when installing the project because of my outdated node js. Maybe it's a good idea to add post-install script that gives suggestions on what to updates and so on

[2018-09-27 21:36] alexdor commented on #41
Hi @raymerta , that's a nice idea, could you tell me your os, your node version as well as what issues you encountered when you tried to set up this project?

[2018-09-27 21:42] raymerta commented on #41
I am using OSX, my default node js version was 6.2.2. Everything works well after I use node js 8.12.0

[2018-09-27 21:46] alexdor commented on #41
Thank you for the info, I've added a note at the top of the Readme for now but a script would be a really nice addition : )

[2018-09-27 21:52] raymerta commented on #41
I can help writing the post-install script. It can be useful if in the
future there are more dependencies and things to be cautioned

On Thu, 27 Sep 2018 at 16.46 Alexandros Dorodoulis <notifications@github.com>
wrote:

--
*Radita Liem*
Full Stack Developer
+6289671485292

[2018-09-27 21:54] alexdor commented on #41
That would be nice : )

[2018-10-01 07:58] alexdor commented on #41
closed by #42

[2018-10-01 07:58] #41 closed

[2018-10-11 05:18] swetax commented on #29
@bacharakis Can you please assign this to me?

[2018-10-11 09:53] Muljayan commented on #21
Hi @alexdor are there any alternative files of the logo i can work with other than the .ico file in the ./public folder? If so where can i find them.

[2018-10-11 10:58] alexdor commented on #21
Hi @Muljayan there are also this https://github.com/ossn/fixme/blob/master/src/components/FixMeNavbar/logo-fixme.svg and this https://github.com/ossn/fixme/blob/master/screens/elements/Icon_Fixme.png

[2018-10-11 11:07] Muljayan commented on #21
Thank you , I should be able to work with these.

[2018-10-11 13:36] Dhruv34788 commented on #28
@alexdor In screenshots of the design footer contains various links to connect like email, GitHub but it is not reflected in the code let me know if I can move ahead to fix this.

[2018-10-11 13:51] alexdor commented on #28
@bacharakis do we have all the links so we can add them to the footer?

[2018-10-11 17:17] Muljayan commented on #18
@yunduz are you working on this ? If not shall i go ahead with it ?

[2018-10-11 19:07] Muljayan commented on #18
Hi, I had some time to spare so i addressed this issue in  #43 . Currently the Home, Issues and Projects page have custom document header elements implement.

[2018-10-12 02:49] yunduz commented on #18
@Muljayan Sorry for missing the messages and not finishing the task! Thank you for fixing it!

[2018-10-12 14:47] ali2210 opened #44 "npm start run issue"
when i type this "npm start run" terminal show error . kindly guide me

[2018-10-12 15:18] Muljayan commented on #18
@yunduz all cool :smile:
@alexdor please refer PR #45 .
It is the same as #43 but made it with a sub branch instead of my master branch. Sorry for any inconvenience caused.

[2018-10-12 16:44] Muljayan commented on #44
Hi. Try npm start.

[2018-10-12 16:44] ali2210 commented on #44
Ok sir                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone.

[2018-10-12 18:05] haxzie opened #47 "Update Description and Readme with more info"
Hello :wave:
Just found out that this repo is missing some of the important things which might help new contributors understand the project better. ( I had a hard time figuring out what this repo was about)

- The description and website link of this repo is left empty
- No texts explaining what this project is or what it does

If the maintainers could help with this, that'd be of great help for n

[2018-10-13 13:42] Jay341997 commented on #28
@alexdor In image Mozilla_Fixme_Screen02_Issues.png there is a select button for sort by. so can you tell me what types are there for sort by?

[2018-10-14 11:56] Rupeshiya opened #49 "Getting error in starting the server."
I am getting error on "npm start"
[code]
How to fix this ?

[2018-10-14 15:19] himankpathak commented on #27
hi @alexdor, I would like to work on this issue.

[2018-10-15 05:10] tabshaikh commented on #35
I would like to work on this issue, any files to begin with as I am new to this repo :)

[2018-10-15 05:18] tabshaikh commented on #35
@alexdor while setting up the repo I am getting this error again and again
![error](https://user-images.githubusercontent.com/31198893/46931210-de06da00-d067-11e8-8759-679db25318d4.png)
Please can you help

[2018-10-15 09:45] #21 closed

[2018-10-15 09:46] alexdor commented on #44
@ali2210 did that solve the issue?

[2018-10-15 09:49] alexdor commented on #28
I'm not sure what sorting types should be included to be honest, for sure the issue date (ascending or descending) is going to be on of them. @bacharakis any other order by filters?

[2018-10-15 09:53] alexdor commented on #27
Hi @himankpathak, as far as I know, nobody is working on this issues, so you can go ahead and work on it.

I can't add you as an assignee for some reason though, it  might be because you aren't part of the GitHub organization

[2018-10-15 09:57] #49 closed

[2018-10-15 09:59] alexdor commented on #49
@Rupeshiya the above commit should fix this issues, update your local repo and try re-running the server. Feel free to reopen this issue if the commit didn't solved it : )

[2018-10-15 10:00] alexdor commented on #35
@tabshaikh you issues is the same as #49 , try [this](https://github.com/ossn/fixme/issues/49#issuecomment-429783095) solution and let me know if it worked : )

[2018-10-15 12:36] tabshaikh commented on #35
@alexdor some different error popping up now
![error](https://user-images.githubusercontent.com/31198893/46951230-ff39eb80-d0a4-11e8-90be-0be30115cac2.png)

[2018-10-15 13:43] alexdor commented on #35
@tabshaikh pull the latest changes againg and try again : )

[2018-10-15 14:02] ali2210 commented on #44
yup , npm start

On Mon, Oct 15, 2018 at 2:46 PM Alexandros Dorodoulis <
notifications@github.com> wrote:

[2018-10-15 14:57] ali2210 commented on #44
When you run npm start , it probably received npm update fail , if then update your npm (v8.0 require)

[2018-10-15 14:59] alexdor commented on #44
Ok if it fixed it I'm closing this issue, feel free to open it again if the problem reappears : )

[2018-10-15 14:59] #44 closed

[2018-10-15 15:05] ali2210 commented on #44
Thanks for your support                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone.

[2018-10-15 16:08] ali2210 opened #53 "dependency issue"
/fixme$ npm i
npm WARN deprecated browserslist@2.11.3: Browserslist 2 could fail on reading Browserslist >3.0 config used in other tools.
npm WARN deprecated browserslist@1.7.7: Browserslist 2 could fail on reading Browserslist >3.0 config used in other tools.

Downloading binary from https://github.com/sass/node-sass/releases/download/v4.9.4/linux-x64-57_binding.node
Download complete  ] - :
Bina

[2018-10-15 18:10] tabshaikh commented on #35
@alexdor i made a pr and i am not sure if the changes are right as i am new to the repo.
One more issue i am facing is that
![error](https://user-images.githubusercontent.com/31198893/46969404-9027bb80-d0d3-11e8-9ad0-d7b87e243ce3.png)
sorry for so many issues :)

[2018-10-16 06:01] alexdor commented on #35
@tabshaikh this means that it tried to proxy the backend request to localhost:4010 but it failed. You can resolve this by removing lines 45 till 50 from here https://github.com/ossn/fixme/blob/master/src/conf/endpoints.ts#L45

[2018-10-16 06:06] alexdor commented on #47
Hello @haxzie, have a look at the comments of #29 , it would be nice if you could make a pull request adding some of those info to the readme : )

[2018-10-16 06:08] alexdor commented on #29
@swetax this issue can't be assigned to you because you aren't part of the GitHub org, but you can work freely on this issue : )

[2018-10-16 06:19] haxzie commented on #47
Sure, I'll be working on it :+1:

[2018-10-16 08:28] ali2210 commented on #53
i'm working on it

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Oct 16, 2018 at 11:03 AM Alexandros Dorodoulis <
notificat

[2018-10-16 15:50] Cassiopeia19 commented on #29
@Alexandros Dorodoulis Would you unassign me please?  Or, walk me thru how
to unassign myself? Thx

On Tue, Oct 16, 2018, 1:08 AM Alexandros Dorodoulis <
notifications@github.com> wrote:

[2018-10-16 16:21] Muljayan commented on #53
@ali2210  are you running yarn install or npm install ?
I sometimes tend to get errors when i run npm install on an app which contains a yarn lock file. If you're getting these errors when you're using npm install try using yarn install.

[2018-10-16 17:46] ali2210 commented on #53
Yeah npm install on my system                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone.

[2018-10-16 20:35] #18 closed

[2018-10-17 00:52] Muljayan commented on #53
try installing yarn on your machine and do a yarn install.

[2018-10-17 01:13] Muljayan commented on #28
### White line on the right side of the learn more button
![image](https://user-images.githubusercontent.com/37667437/47055614-e3823280-d1d5-11e8-831a-a06b6c66c6ae.png)

[2018-10-17 01:15] Muljayan opened #58 "UI/UX Improvements - Projects page"
## Some backgrounds in cards hinder text readability
![image](https://user-images.githubusercontent.com/37667437/47055794-e3cefd80-d1d6-11e8-9e1b-0c34a237b3e0.png)

## Project tags overlap project description on hover

![image](https://user-images.githubusercontent.com/37667437/47055863-3f00f000-d1d7-11e8-9bff-66bbad6c8cd8.png)

![image](https://user-images.githubusercontent.com/37667437/47055931-

[2018-10-17 07:15] #47 closed

[2018-10-17 12:52] #35 closed

[2018-10-18 01:57] tabshaikh commented on #19
@alexdor So the change to make in this is that to make the twitter icon highlighted

[2018-10-18 01:59] tabshaikh commented on #20
@alexdor Should this issue be closed, so there is something more to do in this

[2018-10-18 08:10] himankpathak commented on #27
@alexdor I am a part of the mozillacampusclub organization but not of OSSN.
Do I need to join OSSN before creating the PR?

Almost finished working on this issue, will create the PR today itself.

[2018-10-18 12:35] himankpathak commented on #27
Hi @alexdor, need you to reviews these color changes on home page:

Current color contrast:
![current color contrast](https://user-images.githubusercontent.com/26011845/47154389-d2cddb80-d2ff-11e8-8064-485df8d206c1.png)

color contrast suggested by Axe:
![axe color contrast](https://user-images.githubusercontent.com/26011845/47154464-09a3f180-d300-11e8-8b5b-c6a7b5872c72.png)

Should I change them

[2018-10-18 12:46] bacharakis commented on #27
Good work @himankpathak !
I like the new colors! However, it's still hard to read the words in the tags which is relevant to the width of the letters.

Is there a way to change the width a bit?
Thank you

[2018-10-18 13:16] himankpathak commented on #27
yep! I increased the font-weight they look good now. @bacharakis
How can I view the issues page to fix color contrast over there?

[2018-10-18 13:53] bacharakis commented on #27
@himankpathak you would need to setup the [backend](https://github.com/ossn/fixme_backend).

[2018-10-18 14:13] alexdor commented on #27
@himankpathak if you don't want to set up the backend, you can remove lines 45 till 50 from here https://github.com/ossn/fixme/blob/master/src/conf/endpoints.ts#L45 but don't commit it

[2018-10-18 14:15] alexdor commented on #20
Thanks, @tabshaikh : ) closing this issue

[2018-10-18 14:15] #20 closed

[2018-10-18 14:37] himankpathak commented on #27
I did setup the backend but I am recieveing error on issues page.

I tried @alexdor's advice and it worked :relieved:

[2018-10-18 16:06] tabshaikh commented on #19
@alexdor can you give some useful place to begin with in this

[2018-10-19 07:50] himankpathak commented on #40
yeaa verified this bug in my browser too. Only happens in chrome. Its sure looks bad when it starts from mid, also when you change the filter on the issues page, page does not scroll to top.

[2018-10-19 13:53] himankpathak commented on #22
Google fonts API does not support font-display property yet. [Learn more](https://github.com/google/fonts/issues/358)
How should we go about resolving this issue? @alexdor

[2018-10-19 13:54] alexdor commented on #19
hi @tabshaikh , in order to resolve this you should do something like this https://stackoverflow.com/a/51715544 , let me know if you have any questions : )

[2018-10-19 14:02] alexdor commented on #22
@himankpathak I think the best solution here is to download the fonts and include them in the project. That will allow us to use the font-display and it would load the fonts faster (because we use http2 so we will skip quite a few round trips). What do you think?

[2018-10-19 14:32] alexdor commented on #19
Thanks for the reminder, just did : )

[2018-10-19 14:35] Muljayan commented on #29
@bacharakis could you review if #66  is fine

[2018-10-19 14:51] tabshaikh commented on #19
@alexdor In this issue the twitter icon now has code something like this
![twiiter](https://user-images.githubusercontent.com/31198893/47225585-10079b80-d3dc-11e8-8dc3-91e0db91d051.png)
so the aria-label is there, Also i could not find the exact place where the failing element you pointed out in the issue is. I think the aria label works only in <a></a> tag but as we have used it in <outboundlink>

[2018-10-19 16:06] #12 closed

[2018-10-19 16:13] #40 closed

[2018-10-19 16:14] Muljayan commented on #16
hey @alexdor , the pages do a full update when ever a single state change occurs. This is probably due to a single component used for the whole change. This issue may not be noticeable now but as the application grows it might cause performance issues. In addition to that there maybe duplicate code which do not fall in line with the DRY principal.

[2018-10-19 16:23] #19 closed, assigned to bui1

[2018-10-19 16:54] tabshaikh commented on #26
.issues-container .issue-card-description font size now is 0.9em
.issues-container .issue-card-description code font size now is 0.9em
.projects-container .projects-description font size now is 1em
.projects-container .projects-description-text font size is 0.8em
.projects-container .projects-tile-tag font size is 0.8em
small {
  font-size: 80%; } which is well over 12px
Therefore i think @alexdor

[2018-10-19 18:29] alexdor commented on #26
you are right @tabshaikh , thanks : )

[2018-10-19 18:29] #26 closed

[2018-10-20 03:15] himankpathak commented on #22
@alexdor Yea, I was thinking the same to download and serve them through our project itself.
Also, there is no static directory so should I create a font directory in public or a static in src?

[2018-10-20 03:44] himankpathak commented on #16
The user experience on issues page is too blocky, feels restricitive. The scrollable area on filter section is only 80% of viewport height which adds up to this behaviour. Some minor styling tweaks should fix this issues.

Current state:
![current state](https://user-images.githubusercontent.com/26011845/47250897-fa2fc000-d447-11e8-8a09-3a1a8f95aac7.png)

Edited state:
![edited state](https://user

[2018-10-20 09:19] himankpathak commented on #11
Hi @bacharakis, created a PR to fix this issue.

[2018-10-20 09:30] himankpathak commented on #16
Also, the transition is blocky when changing filters, :sweat_smile: my fault I actually missed to add Element.scrollIntoView() options to smooth it when I opened #71.

[2018-10-20 09:44] alexdor commented on #16
@Muljayan let's open a new issue for this to investigate : )

@himankpathak yeah, you are right the new one looks better, could you open a pr to address both of the issues that you mentioned?

[2018-10-20 12:40] #11 closed

[2018-10-20 13:10] tabshaikh commented on #17
@alexdor Made a pr to this issue which had an open pr for a long long time, finally hoping to close this forever :)

[2018-10-20 13:52] tabshaikh commented on #30
@alexdor Okay

[2018-10-20 14:14] tabshaikh opened #79 "Tags coming on top of Project names"
Tags are overwritting on top of project names:
![tags](https://user-images.githubusercontent.com/31198893/47256589-7524c500-d4a0-11e8-8616-04efb258b860.png)
@alexdor Maybe we can limit the number of tags we display upto 5 or something, so that the interface remains clean

[2018-10-20 14:17] alexdor commented on #79
@bacharakis thoughts?

[2018-10-20 14:19] alexdor commented on #23
@tabshaikh do you think you would be up for this task?

[2018-10-20 14:19] tabshaikh commented on #79
@alexdor we could add ... if the number of tags are greater than 5 lets say at the end to indicate there are more tags

[2018-10-20 14:33] himankpathak commented on #14
We will need a twitter developer account to build the webhook.
Thoughts on this? @bacharakis @alexdor

[2018-10-20 14:43] tabshaikh commented on #23
@alexdor sure, you can assign this to me :)
Actually I looked at the link in the issue. Gotta read a few things before tackling this and it would be a great learning experience. Help would be appreciated:)

[2018-10-20 14:48] himankpathak commented on #22
@alexdor Also I wanted to ask why do we use Raleway as the main font when numbers in Raleway font look up & down? Any specific reason for it?

[2018-10-20 14:58] tabshaikh commented on #23
@alexdor I think i only members can be assigned, i will began working on this :)

[2018-10-20 14:59] tabshaikh commented on #32
@alexdor i made a pr but i think changes would have to be done before it merges

[2018-10-20 15:30] #22 closed

[2018-10-20 15:31] alexdor commented on #22
@himankpathak The designers used it so we had to : )

[2018-10-20 15:33] alexdor commented on #14
@himankpathak you can create one from your account and commit everything except the key of the account and we will substitute the twitter key of the final account

[2018-10-20 15:40] himankpathak commented on #22
Okay @alexdor :P
I am really liking this project, great work done by you and @bacharakis.
Will love to help you out with other issue and features. :smile:

[2018-10-20 15:46] alexdor commented on #22
Thanks @himankpathak : ) You could always try to tackle #15 or this comment https://github.com/ossn/fixme/issues/28#issuecomment-430454655

[2018-10-20 17:02] himankpathak commented on #14
okay, will look into this.

[2018-10-20 17:21] harsh-2711 opened #83 "Issues counter in project tile not uniform"
The issues counter in the project tiles isn't uniform i.e. some have issues written behind the counter and some have issues written below them.

<img width="1322" alt="screenshot 2018-10-20 at 22 46 52" src="https://user-images.githubusercontent.com/32356267/47258562-92ff2380-d4ba-11e8-8c3c-2a90568f3d21.png">

Also the issues and the setup counters clutters the space. There should be some space be

[2018-10-21 14:34] ali2210 commented on #53
previous issues resolve by using **sudo npm install -g** but npm terminals demand these packages
[code]

[2018-10-21 15:30] ali2210 commented on #53
try this command on your terminal **sudo npm install -g**
if there is an error then sudo npm install -g packageName
`sudo npm install -g ra-ui-materialui@2.4.0`

[2018-10-21 15:40] ali2210 commented on #53
npm packages install , some packages show error how to resolve them
fixme@0.1.0 /home/ali/fixme
├── @types/jest@23.3.5
├── @types/node@10.12.0
├── @types/query-string@6.1.1
├─┬ @types/react@16.4.18
│ ├── @types/prop-types@15.5.6
│ └── csstype@2.5.7
├─┬ @types/react-dom@16.0.9
│ ├── @types/node@10.12.0 deduped
│ └── @types/react@16.4.18 deduped
├─┬ @types/react-paginate@5.2.1
│ └── @types/react@16.

[2018-10-21 15:56] ali2210 commented on #53
How to resolves these packages dependencies
`npm ERR! peer dep missing: react-router@^4.3.1, required by connected-react-router@4.5.0
npm ERR! peer dep missing: react@~16.3.0, required by react-admin@2.4.0
npm ERR! peer dep missing: react-dom@~16.3.0, required by react-admin@2.4.0
npm ERR! peer dep missing: react@~16.0.0 || ~16.1.0 || ~16.2.0 || ~16.3.0, required by ra-core@2.4.0
npm ERR! peer dep

[2018-10-21 16:19] alexdor commented on #53
@ali2210 install yarn https://yarnpkg.com/lang/en/docs/install/ and try using it instead of npm for this project

[2018-10-21 16:20] ali2210 commented on #53
Ok thanks i will try                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone.

[2018-10-21 18:38] 97amarnathk commented on #83
Can I take this issue?

[2018-10-21 18:40] alexdor commented on #83
you can go for it @97amarnathk

[2018-10-21 19:59] harsh-2711 commented on #83
I am working on this issue

[2018-10-23 04:16] himankpathak opened #86 "Project needs a license file"
We need to add the license file so to help people easily know the distributing license of the project.
Github advises having a license.md file on each and every repository. [Learn more](https://help.github.com/articles/licensing-a-repository/)

[2018-10-23 14:45] himankpathak commented on #86
@alexdor @bacharakis views?

[2018-10-23 16:09] 97amarnathk commented on #83
@alexdor  There are 0 projects listed. So I cannot see the bug. How to fill dummy data?

[2018-10-23 20:15] alexdor commented on #86
I usually go for MIT but it's @bacharakis call this one : )

[2018-10-24 04:54] tabshaikh commented on #79
@bacharakis we will have a see more option in the box which will show all the tags if a user wishes to see them all

[2018-10-24 12:38] himankpathak commented on #86
@bacharakis thoughts?

[2018-10-26 15:39] himankpathak commented on #79
how about we create a modal whenever a user clicks on the project. The modal will contain all the tags in the project and a short description of the project and from the modal itself, the user can be directed either to issues page or the GitHub repo or the modal can be closed.

[2018-10-28 15:14] ali2210 commented on #53
$yarn --version
0.32
install successfully now time to run yarn

[2018-10-28 18:38] ali2210 commented on #53
Ok sir                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone.

[2018-10-29 13:33] #29 closed

[2018-10-29 13:35] #27 closed

[2018-10-29 13:35] #32 closed

[2018-11-02 18:32] haxzie opened #88 "Add .vscode directory to .gitignore"
Hello There :wave:
Any thoughts about git-ignoring the .vscode directory? Since the `settings.json` or the directory doesn't contain any specific configuration, debug or task-specific settings, isn't it good to ignore the directory from version control or having it on GitHub?

[2018-11-02 20:34] alexdor commented on #88
Hello, I didn’t add it on gitignore because I was planning to add the debug options, but that never happens 😅 So yeah we should remove the file and add it to gitignore. Do you want to create a pr?

[2018-11-03 03:52] haxzie commented on #88
Sure, 'd be happy to do it :+1:

[2018-11-03 08:04] alexdor commented on #88
Thank you @haxzie : )

[2018-11-03 08:04] #88 closed

[2018-11-04 16:13] ali2210 commented on #53
this because of npm package
install yarn (official website ) and follow instructions
$ cd fixme
$ yarn init
$ yarn

[2018-11-04 16:13] #53 closed

[2018-11-11 15:45] ali2210 commented on #86
@ali2210 added license file

[2018-11-12 03:02] ali2210 opened #90 "Heroku buildpack error"
If you have ubuntu 16+ then install heroku
` sudo snap install --classic heroku`

onces you have successfully installed ,
 cd fixme
heroku open
domain open in your browser

[https://elements.heroku.com/buildpacks/mars/create-react-app-buildpack](url)

buildpack issue due to access or read logs

[2018-11-20 20:49] bacharakis opened #91 "Add Sass projects"
It would be great to have some SASS projects since we have it as an option

[2018-11-20 20:49] bacharakis opened #92 "Remove languages that we won't have issues for"
STR:
Explore -> Select SASS -> No issues found

[2019-02-01 17:53] makkBit opened #93 "prevent showing 'closed issues' in the issues section."
User selects technology, level of difficulty, issue type and gets list of issues.
Upon clicking on a particular issue, finds its already resolved and closed. :(
So it would be better to show only current open issues.

[2019-02-19 11:18] siddhant1 opened #94 "Broken Images In Project"
In Project Section some projects (Common Voice,Blockly) have broken image link and the alt is showing up, we should either update the links or show a placeholder image.

![image](https://user-images.githubusercontent.com/30566406/53011314-1d09c980-3466-11e9-95bd-f41cfcd0008f.png)

[2019-02-19 11:21] siddhant1 commented on #92
c,c++,cuda,go,rust,sass
All of these have no issues right now

[2019-02-19 12:28] siddhant1 opened #96 "Add .huskyrc to remove warning in the latest version"
Husky gives a warning to move the precommit hook to .huskyrc in the latest version , we should make the change to remove the warning.

[2019-02-19 12:28] siddhant1 commented on #96
I can work on it and send in a PR

[2019-02-19 18:07] siddhant1 opened #98 "Change Mobile Hamburger Menu UI,"
![screenshot_2019-02-19 fixme](https://user-images.githubusercontent.com/30566406/53037034-28c5b200-349f-11e9-8311-962d311ef51d.png)

I think the facebook and other icons should be big and spaced out , also all the list items should be spaced out as well

[2019-02-22 23:02] bacharakis opened #99 "Github redirection is not working"
The issues are not clickable so the users can't be redirected to the GitHub issues.

[2019-02-22 23:15] alx168 commented on #99
I want to work on this

[2019-02-22 23:15] kpate262 commented on #99
I also want to work on this.

[2019-02-22 23:15] atlema2 commented on #99
I also want to work on this

[2019-02-23 03:50] alx168 commented on #99
[HPM] Error occurred while trying to proxy request /api/projects from localhost:4010 to http://localhost:3000 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)
Proxy error: Could not proxy request /api/projects from localhost:4010 to http://localhost:3000.
See https://nodejs.org/api/errors.html#errors_common_system_errors for more information (ECONNREFUSED).

Error en

[2019-02-23 03:51] kpate262 commented on #99
iOS: works on Chrome version = 70.0.3538.75,  but doesn't work on safari iOS: 12.1.4

[2019-02-23 03:54] atlema2 commented on #99
Does not work on firefox version 64.0

[2019-02-23 03:55] kpate262 commented on #99
Windows: works on Chrome Version 72.0.3626.119, but does not work on version 65.0.1 on FireFox

[2019-02-23 03:58] alx168 commented on #99
broken on firefox for android for 65.0.1

[2019-02-23 05:50] alx168 opened #100 "[HPM] Error occurred while trying to proxy request /api/projects from localhost:4010 to http://localhost:3000 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)"
[HPM] Error occurred while trying to proxy request /api/projects from localhost:4010 to http://localhost:3000 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)
Proxy error: Could not proxy request /api/projects from localhost:4010 to http://localhost:3000.
See https://nodejs.org/api/errors.html#errors_common_system_errors for more information (ECONNREFUSED).

Error en

[2019-02-23 05:51] alx168 commented on #100
change the .env.development file.

REACT_APP_ENV=development

should be

 REACT_APP_ENV=production

[2019-02-23 05:51] #100 closed

[2019-02-23 17:50] bmiddha commented on #94
The logo image for the common voice project `https://voice.mozilla.org/img/robot-greetings.png` results in a 404 error.
Needs to be replaced on the back-end with another logo, such as `https://voice.mozilla.org/img/cv-logo-bw.svg`

[2019-02-23 23:18] bacharakis commented on #99
Hey @bmiddha check this out: https://developers.google.com/web/tools/lighthouse/audits/noopener

[2019-02-24 05:43] siddhant1 commented on #94
Sending in a pr soon

[2019-02-24 10:28] siddhant1 opened #103 "Tags not visible over white images"
Tags are not visible over white images , add a black tint in background so tags can be seen.
Sending in a PR.

[2019-02-24 11:55] siddhant1 commented on #94
sent a PR to fixme_backend

[2019-02-24 12:13] ashu8912 opened #104 "No Hover Effect over language options make it look weird"
This is a Feature I am Proposing

[2019-02-24 12:15] siddhant1 opened #105 "Having Issues with react router in strict-mode tree"
![image](https://user-images.githubusercontent.com/30566406/53299079-05fb1b00-385c-11e9-9048-6ed2a6cb4612.png)

[2019-02-24 12:16] ashu8912 commented on #104
it might have happened that while using react-select in this project
the developers would have forgot it because the creators of react-select also doesn't describe
how to add hover effects to "option" element i have made a pr to the docs page of react-select to add those lines

[2019-02-24 12:16] ashu8912 commented on #104
and also i am making a pr here to add that hover effect

[2019-02-24 12:17] ashu8912 commented on #104
if you could tell me what background color you would like to see in the hover effect or should i
just leave it by adding  "cursor":"pointer" to hover effect

[2019-02-24 13:00] siddhant1 commented on #99
Ref #101 added this vulnerability , should I fix it?

[2019-02-24 18:57] alexdor commented on #105
According to https://github.com/ReactTraining/react-router/issues/6060#issuecomment-424475590 this should be solved once #97 is merged

[2019-02-25 09:27] alexdor commented on #99
For anyone wanting to fix this issue have a look at my commend https://github.com/ossn/fixme/pull/101#pullrequestreview-207132093 it is going to save you a few minutes of googling : )

[2019-02-25 09:44] siddhant1 opened #108 "Add a limit to the description of projects because they are overlapping over the title"

[2019-02-25 09:44] siddhant1 commented on #108
Maybe we can limit the word count of description and add a read more... to it

[2019-02-25 10:29] #90 closed

[2019-02-25 10:31] alexdor opened #109 "Migrate website to Gatsby"
Migrating this project to [Gatsby](http://gatsbyjs.org/) will decrease the time-to-interactive for the users and improve site's seo

[2019-02-25 11:22] siddhant1 commented on #109
Looks amazing to me. Will start working on this soon

[2019-02-25 11:25] siddhant1 commented on #109
Should we do it in typescript only?

[2019-02-25 11:44] alexdor commented on #109
@siddhant1 I'm not sure what do you mean with the 2nd question

[2019-02-26 10:15] siddhant1 commented on #99
ref #110

[2019-02-26 12:10] siddhant1 commented on #96
Fixed by #97

[2019-02-26 12:10] #96 closed

[2019-02-26 14:53] siddhant1 commented on #103
I think I should look into this next. Should I add it ? @bacharakis @alexdor

[2019-02-26 16:16] alexdor commented on #103
This goes against the design, so @bacharakis has to decide on this one

[2019-02-26 17:05] ashu8912 commented on #109
By doing it in typescript he means that instead of writing codes in js way for gatsby we will be doing it in ts files and the "ts way"

earlier =>"React with Ts"
enhancement =>"gatsby with TS"

[2019-02-26 17:05] ashu8912 commented on #109
I also want to work upon this one coz i am into gatsby these days so it would be kind of a benefit for me

[2019-02-26 17:08] alexdor commented on #109
Yeah ideally it would be in typescript so we can leverage the existing code (and the benefits of ts). There is a gatsby plugin for ts here https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-typescript

[2019-02-26 17:10] #104 closed

[2019-02-26 17:41] alexdor commented on #105
@siddhant1 has this been resolved?

[2019-02-27 03:16] bacharakis commented on #103
@siddhant1 can you please share a screenshot of the design you have in mind in order to help us assess this?
Thank you so much

[2019-02-27 03:18] siddhant1 commented on #109
Cool , let's start with moving the routes !

[2019-02-27 07:57] ashu8912 commented on #109
How do we start the gatsby transformation... doing it on this repo will break the already present code
and as this repo uses netlifies continuous deployment feature
The broken website will lead to problems to the already user of the website
         --------Things we can do ---------
1.we can stop the continuous deployment feature for a specific amout of time till our gatsby transformation is done

[2019-02-27 08:14] alexdor commented on #109
I think that the best way is to start a branch here and collaborate on that branch, so we can have the previews that netlify produces and have a single point of tracking progress. What do you think?

[2019-02-27 08:41] ashu8912 commented on #109
yeah thats the best thing we can do

[2019-02-27 08:43] siddhant1 commented on #109
I will make my first pr on this today or maybe tomorrow , I think we can build over that

[2019-02-27 08:49] alexdor commented on #109
@siddhant1 and @ashu8912 you should both have access to write to this repo, so create a branch here.

[2019-02-27 08:51] ashu8912 commented on #109
will soon create branch "fixme-enhancement-gatsby" or should i name it something else???
also will update docs to tell how to contribute to this branch.........

[2019-02-27 08:53] alexdor commented on #109
I don't mind the name, feel free to choose : )

[2019-02-27 08:54] ashu8912 commented on #109
ok thanks :)

[2019-02-27 10:27] siddhant1 commented on #99
I think we can close this now

[2019-02-27 10:43] #99 closed

[2019-02-27 15:16] siddhant1 opened #115 "Create-React-App boilerplate in Readme.md"

[2019-02-27 15:54] siddhant1 commented on #115
Either we should fix it or we should convert all scripts from npm to yarn

[2019-02-27 16:45] ashu8912 commented on #115
I think create-react-app boilerplate shouldn't be there.....
because  boilerplate generated by a cli are generally not added in the docs of a project
moreover we can just mention that this project was bootstrapped with create-react-app and provide
a link to the readme.md
writing all of the config for create-react-app in our project docs is not a good idea

Make readme as clean as possible

[2019-02-27 16:49] ashu8912 commented on #109
@alexdor I don't have rights to write to this repo didn't received any enail
send request to collaborate......
:)

[2019-02-27 17:24] ashu8912 commented on #94
This issue can now be closed As this was related to a fix that was to be done at the fixme_backend
url for each project logo,link,Tags associated with the project comes from backend
The frontend doesn't have control over it

So anybody has issue regarding broken links or improper tags to a project
raise an issue at the fixme_backend repository.

[2019-02-27 21:18] Paarmita commented on #98
@siddhant1 Can I work on this?
And I think we could put icons in a row. Let me know your suggestions on it.

[2019-02-28 02:48] ashu8912 commented on #109
https://stackoverflow.com/questions/1384325/in-git-is-there-a-simple-way-of-introducing-an-unrelated-branch-to-a-repository

we will be creating an orphan branch for this gatsby transformation it will be a fresh branch(meaning no ancestors) . And when the project is finally transformed to gatsby we will be removing the master
branch content and merging this branch to an empty master

---Or--- we c

[2019-02-28 03:37] siddhant1 commented on #94
@bacharakis can you change the url from the admin side , the pr in the backend was merged but looks like it had no effect

[2019-02-28 08:21] siddhant1 commented on #115
@alexdor @bacharakis should I do this or do we need the boilerplate?

[2019-02-28 08:45] alexdor commented on #115
Feel free to remove it and just keep the link to the newer version, if somebody wants to check it out

[2019-02-28 08:52] alexdor commented on #109
I don't see the reason of starting on orphan branch. A lot of the existing codebase will be reused, it is just a tooling change. Why do you want to create an orphan branch?

[2019-02-28 08:55] alexdor commented on #94
Sounds like we should also handle image loading errors, I don't know if someone wants to tackle this

[2019-02-28 08:57] siddhant1 commented on #94
Yes , I think we should add a placeholder image in place of that and yeah I can work on this part later

[2019-02-28 09:09] alexdor commented on #98
There is pr by @bmiddha #102 that has a few changes requested. I don't think that @bmiddha is going to continue it (@bmiddha feel free to correct me if I'm wrong), so yeah I think that you can work on it

[2019-02-28 09:10] alexdor commented on #108
Sounds good, this has to be done in a responsive way though : )

[2019-02-28 09:14] alexdor commented on #91
@bacharakis could you provide additional information on how to achieve that? (the projects aren't stored in the codebase of the frontend)

[2019-02-28 09:56] ashu8912 commented on #109
i thought that starting from orphan and than bootstrapping the code with gatsby cli would be a great idea . coz if master is an ancestor to this newly created branch than we will have the old code also in our branch....
------------"problem(not actually just a lot of refactoring)"--------
like gatsby cli will generate a src folder and than we already have a src folder so lot of deletion and updati

[2019-02-28 10:21] alexdor commented on #93
Hi @makkBit, thanks for opening this issue. Unfortunately the status of issues on fixme's website might be running a few hours behind GitHub. The reason is that we have to request the data from GitHub's api which allows only limited amount of requests per hour.

We could decrease the time that it takes to close a stale issues by improving the backend worker. There is already an issue open at ossn/

[2019-02-28 10:21] #93 closed

[2019-02-28 10:35] alexdor opened #118 "Center images on mobile version of the about page"
We should center the images of the about us page when the page is displayed on a small screen

[2019-02-28 10:45] alexdor commented on #109
My recommendation would be to do the following:
* Generate a new project with Gatsby's cli there are a few starter kits with ts here: https://www.gatsbyjs.org/starters?c=TypeScript&v=2 on a folder in your computer
* Create a new local branch in this repo
* Bring the structure and the changes from Gatsby's generated folder into this repo and merge the package.json folder
* Test the new changes

But

[2019-02-28 10:47] siddhant1 commented on #105
Looks like we are still having these issues , investigating

[2019-02-28 10:47] alexdor commented on #98
it looks like #117 addresses all of the issues here.

[2019-02-28 10:47] #98 closed

[2019-02-28 11:06] ashu8912 commented on #109
ok that would be great :)

[2019-02-28 11:07] ashu8912 commented on #118
sending in a pr soon

[2019-02-28 11:21] siddhant1 opened #120 "Inconsistency in Menu"
![image](https://user-images.githubusercontent.com/30566406/53563050-f55ae580-3b78-11e9-927e-d860f4e7396e.png)
![image](https://user-images.githubusercontent.com/30566406/53563062-fc81f380-3b78-11e9-9bbe-155b7d873c40.png)

I don't know if any of the previous prs introduced this but I think the menu in the about page looks great

[2019-02-28 11:21] siddhant1 commented on #120
@bacharakis @alexdor have a look

[2019-02-28 12:14] alexdor commented on #120
I can't reproduce this change, could you make sure that you don't have any local changes?

[2019-02-28 12:14] #115 closed

[2019-02-28 12:46] siddhant1 commented on #120
:p sorry I think I have some local changes.
But I think the second one is better in terms is UI ? What do you say?

[2019-02-28 15:33] siddhant1 opened #123 "The image resolution is super bad (check screenshot)"
![image](https://user-images.githubusercontent.com/30566406/53577803-5516b800-3b9c-11e9-8762-d80499512b6a.png)

[2019-02-28 15:34] siddhant1 commented on #123
@alexdor @bacharakis

[2019-02-28 15:35] siddhant1 commented on #123
I think it should look something like this
![image](https://user-images.githubusercontent.com/30566406/53577927-8abba100-3b9c-11e9-8a05-c1902df8a1e3.png)
I have a fix ready

[2019-02-28 15:47] siddhant1 commented on #118
ref #122

[2019-02-28 18:36] #118 closed

[2019-02-28 18:37] alexdor commented on #120
the second one is the current one :p Did you mean the 1st one?

[2019-02-28 18:39] alexdor commented on #123
Yeah your change looks better than the existing one

[2019-02-28 18:41] siddhant1 commented on #120
Yeah , What'd you say , should I make this change?

[2019-02-28 18:41] alexdor opened #124 "Vertical align text in about page"
Text in the about page should be displayed at the center of the images, on big resolutions

[2019-02-28 18:42] alexdor commented on #120
Hm, I'm not sure. We need feedback from @bacharakis for this one

[2019-03-01 05:31] siddhant1 commented on #123
Should I make in the change? @alexdor @bacharakis

[2019-03-01 08:20] alexdor commented on #123
Yeah send a pr : )

[2019-03-01 08:23] #124 closed

[2019-03-01 08:54] ashu8912 commented on #123
just make sure this is done for mobile screens only.... for larger screens the old one looks good
@alexdor what do you think on this one

[2019-03-01 09:00] siddhant1 commented on #123
![image](https://user-images.githubusercontent.com/30566406/53627420-6c9e8100-3c2e-11e9-8f28-7250b269e610.png)

![image](https://user-images.githubusercontent.com/30566406/53627459-89d34f80-3c2e-11e9-94f3-574e2331d503.png)

[2019-03-01 14:54] siddhant1 commented on #92
Should we remove the languages , I think very few languages will be remaining if we remove them

[2019-03-01 15:20] siddhant1 commented on #123
@alexdor @bacharakis

[2019-03-01 16:32] siddhant1 commented on #86
Should I add one if not already added?

[2019-03-01 18:04] ali2210 commented on #86
i added this file before,

On Fri, Mar 1, 2019 at 9:32 PM siddhant <notifications@github.com> wrote:

[2019-03-02 11:08] #103 closed

[2019-03-02 11:08] siddhant1 commented on #86
Should I close this one then?

[2019-03-02 11:09] siddhant1 commented on #92
@bacharakis @alexdor Can you assist me on this one?
Should I completely remove the languages?

[2019-03-02 13:56] alexdor commented on #86
I don't see a License.md file, where did you add it @ali2210 ?

[2019-03-02 13:58] alexdor commented on #123
yeah open a pr @siddhant1

[2019-03-02 14:05] alexdor opened #126 "There are no tests"
Currently there are no tests in this repo. It would be nice if we could write some tests.

[2019-03-02 14:30] siddhant1 opened #128 "Add a local .prettierrc and add scss in precommit hook"
We should also add a local prettierrc file to prevent contributors include their global styles in the pull requests

[2019-03-02 14:35] alexdor commented on #128
this should be covered by this https://github.com/ossn/fixme/blob/master/package.json#L88

[2019-03-02 14:36] siddhant1 commented on #128
Yes

[2019-03-02 14:37] #128 closed

[2019-03-02 14:41] siddhant1 commented on #123
Closing , since fixed

[2019-03-02 14:41] #123 closed

[2019-03-02 22:05] nik72619c commented on #126
tests like CricleCI?

[2019-03-03 09:23] alexdor commented on #126
Before we add a CI, we first have to write them in Jest. Afterwards we could add a CI so it could run the tests automatically : )

[2019-03-03 10:58] nik72619c commented on #126
Could you provide some scenarios...what are the tests gonna be regarding?

[2019-03-03 12:56] alexdor commented on #126
It would be nice to test the following:
* Test that all pages render without crashing
* Test that Learn More button works
* Test that Issue, Projects, About links work
* Test that 18 Projects navigates to projects page when clicked
* Test the search form in the homepage
* Test that the form in the issues page works and that it updates the url
* Test that the form in the issues page parses properly

[2019-03-03 13:05] nik72619c commented on #126
Soumds good...gonna work on this

[2019-03-03 13:15] alexdor commented on #126
Sounds good, let me know if you face any issues : )

[2019-03-03 15:59] Muljayan commented on #109
@alexdor what do you think of next js ? It can help with SEO too.

[2019-03-03 16:12] alexdor commented on #109
@Muljayan why do you think that it would be more beneficial to switch to nextjs instead of gatsby?

[2019-03-04 12:39] Muljayan commented on #109
Honestly, I am not familiar with Gatsby, but I am aware that with next.js the head tag, meta tags can be dynamically changed to optimize it for search engines.

[2019-03-04 12:45] siddhant1 commented on #109
In this project React helmet is taking care of that

On Mon 4 Mar, 2019, 6:09 PM Muljayan, <notifications@github.com> wrote:

[2019-03-04 13:33] siddhant1 commented on #13
@alexdor is this being worked on now?

[2019-03-04 13:34] siddhant1 commented on #23
Gatsby-image can do something like this .
Will be saved by #109

[2019-03-04 13:35] siddhant1 commented on #30
We have to think of another ways to detect issues.

[2019-03-04 13:36] siddhant1 commented on #94
Working!

[2019-03-04 13:41] alexdor commented on #13
@siddhant1 no I've left my comments here https://github.com/katiehrenchir/fixme_backend/commit/4fa6636bd25a46b9cae13d1d9ca24ace1041a05b

[2019-03-04 13:42] alexdor opened #130 "Handle image loading errors"
This issue was discussed at #94 . The gist of it is that we need to gracefully handle image loading errors

[2019-03-04 13:43] alexdor commented on #94
Yeah I've edited it directly on the db. And I've opened #130 to handle loading errors

[2019-03-04 13:43] #94 closed

[2019-03-04 13:51] alexdor commented on #30
Yeah it would be a good idea, but considering that only an admin can add projects to be parsed this is probably a low priority issue and the biggest part of this issue is from the backend's side

[2019-03-04 14:00] alexdor commented on #109
Yeah, as @siddhant1 mentioned this project already sets dynamic meta tags (you could also do that with plain js). The main improvement regarding seo is going to be the prerendered pages. Prerendered pages will dicrease the [time-to-interactive](https://developers.google.com/web/tools/lighthouse/audits/time-to-interactive) and will allow the crawlers to parse the website better.

Both nextjs and ga

[2019-03-05 10:44] Muljayan commented on #109
I agree. Since the majority of the site would be static Gatsby would be a good fit.

[2019-03-05 12:50] himankpathak commented on #109
Hi @ashu8912, what's the status? Are you still working on this issue?

[2019-03-05 12:51] siddhant1 commented on #109
Hey @himankpathak I am working on this , I have some changes ready in my branch (breaking though) , I will.be pushing this one soon

[2019-03-05 12:52] siddhant1 commented on #130
Looks easy , I will have a look

[2019-03-05 16:26] fezheng397 commented on #108
Hi, was just wondering if this is already fixed? I didn't seem to see a problem with it in the current projects page, but if it isn't, I'd be happy to work on the issue!

[2019-03-05 16:31] siddhant1 commented on #108
Sure , you can work on it !

On Tue 5 Mar, 2019, 10:00 PM Felix Zheng, <notifications@github.com> wrote:

[2019-03-05 16:34] fezheng397 commented on #108
Awesome! Would you have an example of the problem and what is preferred for a possible solution? If not, I can just fix it based on my intuition and send a few screenshots for feedback.

[2019-03-05 16:40] siddhant1 commented on #108
Yeah , you can play with your own styles , just make sure it's consistent with the overall theme :)

[2019-03-09 03:24] siddhant1 commented on #130
Closing #131

[2019-03-09 03:24] siddhant1 commented on #130
Closing #131

[2019-03-09 03:24] #130 closed

[2019-03-10 13:49] aswinmprabhu commented on #126
This seems like a big task. @nik72619c Maybe we can share this task.

[2019-03-11 12:32] alexdor commented on #126
@aswinmprabhu sounds like a good idea, I don't know the status of @nik72619c's work but splitting it up would unburden him a lot I think

[2019-03-11 12:44] nik72619c commented on #126
no issues !

[2019-03-11 12:48] alexdor commented on #126
@nik72619c could you upload a version with the basic structure that you are working on in the repo so that both of you work on the same structure?

[2019-03-11 15:25] nik72619c commented on #126
the structure that I am working on consists of a test folder inside components folder, so is it okay @alexdor ?

[2019-03-11 15:39] alexdor commented on #126
Usually you add general tests inside the src folder and component specific tests inside each component folder. But your solution could work as well : )

Could you split up the tests between you two so you don't have any overlap on your work?

[2019-03-11 15:41] nik72619c commented on #126
yea sure
I will just finish up with my checklist of tests and rest can be  taken up by @aswinmprabhu

[2019-03-14 17:36] aswinmprabhu commented on #126
Hey @nik72619c, can you push your scaffold soon so that I can start working? Also what library are you using?
[react-testing-library](https://github.com/kentcdodds/react-testing-library) + Jest seems like a great fit.

[2019-03-18 19:13] a7madgamal opened #132 "local API server is broken"
I wanted to fix some issues but i noticed that all API calls are 500s

[2019-03-20 09:37] alexdor commented on #132
Hi :) This is because you didn't setup the backend. I've switched this repo to use the remote server by default, if you pull the latest changes your issue should be resolved. If not, feel free to reopen this issue :)

[2019-03-20 09:37] #132 closed

[2019-03-20 09:38] alexdor commented on #109
@nik72619c @siddhant1 hi : ) what's the status of this?

[2019-03-20 09:58] siddhant1 commented on #109
Basic scaffold is ready , extending now

[2019-03-22 05:58] siddhant1 commented on #105
React router 5 is released which should solves it !

[2019-03-22 06:01] siddhant1 commented on #108
@fezheng397 are you still working on this one?

[2019-03-23 17:37] suhailsinghbains commented on #86
Hi, Can I please work on this?
Thanks

[2019-03-23 17:40] siddhant1 commented on #86
We already have an open or for this !

[2019-03-25 01:45] fezheng397 commented on #108
@siddhant1 So sorry for the late update and reply, I've had to deal with some personal issues lately and I apologize as I haven't been able to work on this. If possible, could you try reassigning this to someone else?

[2019-03-25 02:45] siddhant1 commented on #108
No problem @fezheng397 I will tackle this , thanks for help :)

[2019-03-27 15:38] MichaelKohler opened #135 "Common Voice Logo broken"
The Common Voice logo is not showing up:

<img width="1193" alt="Screenshot 2019-03-27 at 16 38 08" src="https://user-images.githubusercontent.com/330324/55090058-bef88380-50ae-11e9-9ff8-49f94b5a110f.png">

[2019-03-27 17:05] bacharakis opened #136 "GSoC 2019 Brainstorming"
### Briefing
Improve FixMe, a tool for surfacing meaningful contribution opportunities to new contributors. This project started two years ago as a GSoC project, and we are looking into adding more capabilities. The tool currently fetches issues only from GitHub and relays a lot into the tags project maintainers use in their repositories. We want to add gitlab support and come up with a more sophi

[2019-03-27 18:00] bacharakis commented on #135
Fixed! Thank you @MichaelKohler for the report!

[2019-03-27 18:00] #135 closed

[2019-03-28 01:55] aswinmprabhu commented on #136
I was wondering what's the benefit letting users sign in? Currently the tool is an archive of links to issues that enables easy discovery. I don't think sign in is required for this unless we are planning to implement something like commenting on issues from fixme.

[2019-03-28 13:52] Muljayan opened #137 "Make all images displayed into SVG"
Having SVGs instead of png/jpg files would decrease the load time of the app. Using SVGs would also open doors to include animations.

[2019-04-01 07:32] nishchalraj commented on #136
This looks to me a very interesting thing. I will surely want to do this. Thinking all day about this. :)

[2019-04-04 04:37] ebouJ commented on #108
@siddhant1 is this issue still open for contribution? Can I take on this?

[2019-04-04 04:38] siddhant1 commented on #108
Yes , go for it!

On Thu, 4 Apr, 2019, 10:07 AM Ebou Jobe, <notifications@github.com> wrote:

[2019-06-11 06:29] #83 closed

[2019-09-19 11:49] ali2210 commented on #44
<!doctype html>
<html xmlns="https://u2382462.ct.sendgrid.net/wf/click?upn=XuEDndhbhZ6N3EU-2BWx9MMmMsZ0orLJltV8T0mk7JkjIjkPh-2BSDtbO2ulQSIEdpEn_s5UH8bhnBaopYjthcNSRcaUA1Pr-2B4FxvnGrwAl-2FDU7MTvQp0WzHYTe74Z1rlED5ToM-2F3dI4Q402sfRczF8j-2FCORK-2F5gwHRFjGB0gIgeap6O0w035klFfh4nyA2zi3s6c5OCBNuIh0vsnOcCBwX3q8svhHvo1yM3y-2FutZ4V4xsa6GQKLYy2SR0UpemSxUTuyU2PwTfU9fkcG2XjZMpT4LHw2Tswr3ukwJ6p8ShD7w1Da7jbFeFvf6

[2019-09-19 11:49] ali2210 commented on #53
<!doctype html>
<html xmlns="https://u2382462.ct.sendgrid.net/wf/click?upn=XuEDndhbhZ6N3EU-2BWx9MMmMsZ0orLJltV8T0mk7JkjIjkPh-2BSDtbO2ulQSIEdpEn_s5UH8bhnBaopYjthcNSRceQIJCXdtCQHNzD532JnbFCdODEmUI72wJ3Ojt8RFb3aMCRSpJVevXFC1KMExUYkUnzcJCNES0H7j65mpuauxk1zjcfWoKjxwMbViMS1E53CJyTYHkQd43tWDykKkt-2B6swLBbYfHo2yH6kaezWMRolK06RZVQphOqPwA-2F9AuFIJKcbhBR0DdKUS-2F-2Fp5YiS9lhZPf-2BQ24D9NmOY6kMy7ggNUUlpgQppT-2B

[2020-01-05 19:21] idoqo commented on #108
Hi @siddhant1, is this still opened?
I'm hoping to work with FixMe for this year's summer of code and was looking for good beginner-friendly issues to help me get familiar with the code base.

Would be happy to take on this.

[2020-01-06 03:21] siddhant1 commented on #108
Yes its still open but i am not sure about the summer of code part , you can check mozilla forum to verify if the fixme is coming as a project (since organisations are not released yet)

[2020-03-26 15:41] bacharakis opened #141 "Remove fixmeparser.com reference from the website"
As found at the twitter section

[2020-05-27 07:19] VisheshAtWork opened #144 "infinite CircularLoadingIndicator even when 0-0 results"
A Circular LoadingIndicator is being showed even when there are no matching issues with the filter.

[https://fixme.ossn.club/issues](https://fixme.ossn.club/issues) in this page. I think  a relevant no issues found message should be displayed instead for better usability.

[2020-06-09 20:49] rs9899 commented on #144
Same issue. Seems like the server or database is unresponsive.

[2020-09-24 13:38] RohitKumar-200 commented on #144
Same Issue, I checked console, it says
Access to fetch at '<url>' from origin 'https://fixme.ossn.club' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

[2020-10-20 19:58] alexdor commented on #144
Hi everyone, the issue should be resolve now, sorry for the delay

[2020-10-24 19:39] alexdor commented on #144
I'll leave it open because the frontend should remove the loader when it gets 0 issues and display smth like "no issues where found at the moment, if you have any filters try removing them otherwise please report an issue at https://github.com/ossn/fixme/"